
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cordova App Templates - Cordova 6 - W3cubDocs</title>
  
  <meta name="description" content=" Templates allow you to use preexisting code to jumpstart your project. ">
  <meta name="keywords" content="cordova, app, templates, -, cordova~6">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="http://docs.w3cub.com/cordova~6/guide/cli/template/">
  <link href="/favicon.png" rel="icon">
  <link type="text/css" rel="stylesheet" href="/assets/application-50364fff564ce3b6327021805f3f00e2957b441cf27f576a7dd4ff63bbc47047.css">
  <script type="text/javascript" src="/assets/application-db64bfd54ceb42be11af7995804cf4902548419ceb79d509b0b7d62c22d98e6f.js"></script>
  <script src="/json/cordova~6.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/cordova~6/" class="_nav-link" title="" style="margin-left:0;">Cordova 6</a></span>
  
  <nav class="_nav">
    <a href="/app/" class="_nav-link ">App</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list">
			
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<div class="_page _cordova">
				
<h1 id="cordova-app-templates">Cordova App Templates</h1> <h2 id="use-a-template">Use a Template</h2> <p>Templates allow you to use preexisting code to jumpstart your project. </p> <p><img src="https://cordova.apache.org/static/img/guide/cli/template.png" alt=""></p> <p>Find a template to create your app from by seaching for the keyword <code>cordova:template</code> on <a href="https://www.npmjs.com/search?q=cordova%3Atemplate" target="_blank">npm</a>. You can also use local templates on your computer, or a Git repository.</p> <p>After locating a template you wish to use. Create your project using that template, by specifying the <code>--template</code> flag during the <code>create</code> command, followed by your template source.</p> <p>Creating a cordova project from an NPM package, Git repository, or local path:</p> <pre data-language="">$ cordova create hello com.example.hello HelloWorld --template &lt;npm-package-name&gt;
$ cordova create hello com.example.hello HelloWorld --template &lt;git-remote-url&gt;
$ cordova create hello com.example.hello HelloWorld --template &lt;path-to-template&gt;
</pre> <p>After succesfully using a template to create your project, you'll want to indicate the platforms that you intend to target with your app. Go into your project folder and <a href="http://cordova.apache.org/docs/en/latest/guide/cli/index.html#add-platforms" target="_blank">add platforms</a>.</p> <h2 id="create-a-template">Create a Template</h2> <p>Begin by creating a cordova app that will become the basis for your template. Then you'll take the contents of your app and put them into the following structure. When your template is used, all of the contents within <code>template_src</code> will be used to create the new project, so be sure to include any necessary files in that folder. Reference <a href="https://github.com/apache/cordova-template-reference" target="_blank">this example</a> for details.</p> <pre data-language="">template_package/
├── package.json      (optional; needed to publish template on npm)
├──   index.js        (required)
└── template_src/     (required)
    └── CONTENTS OF APP TEMPLATE
</pre> <blockquote> <p><strong>NOTE</strong>: <code>index.js</code> should export a reference to <code>template_src</code> and <code>package.json</code> should reference <code>index.js</code>. See <a href="https://github.com/carynbear/cordova-template" target="_blank">the example</a> for details on how that is done.</p> </blockquote> <p>To finish off your template, edit <code>package.json</code> to contain the keyword <code>"cordova:template"</code>.</p> <pre data-language="javascript">{
  ...
  "keywords": [
    "ecosystem:cordova",
    "cordova:template"
  ]
  ...
}
</pre> <p>Congrats! You've made a template for creating a Cordova project. Share your template on npm so that everyone can benefit from your hard work.</p>
<div class="_attribution">
  <p class="_attribution-p">
    © 2012–2017 The Apache Software Foundation<br>Licensed under the Apache License 2.0.<br>
    <a href="https://cordova.apache.org/docs/en/6.x/guide/cli/template.html" class="_attribution-link" target="_blank">https://cordova.apache.org/docs/en/6.x/guide/cli/template.html</a>
  </p>
</div>

			</div>
		</div>
	</section>

	</div>
</body>
</html>
