
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Template Rendering - Marionette.js 3 - W3cubDocs</title>
  
  <meta name="description" content="The Marionette View&#39;s primary purpose is to render your model and collection data into the template you assign it. The basic syntax for setting &hellip;">
  <meta name="keywords" content="template, rendering, -, marionette, js, marionette~3">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="http://docs.w3cub.com/marionette~3/template/">
  <link href="/favicon.png" rel="icon">
  <link type="text/css" rel="stylesheet" href="/assets/application-50364fff564ce3b6327021805f3f00e2957b441cf27f576a7dd4ff63bbc47047.css">
  <script type="text/javascript" src="/assets/application-db64bfd54ceb42be11af7995804cf4902548419ceb79d509b0b7d62c22d98e6f.js"></script>
  <script src="/json/marionette~3.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/marionette~3/" class="_nav-link" title="" style="margin-left:0;">Marionette.js 3</a></span>
  
  <nav class="_nav">
    <a href="/app/" class="_nav-link ">App</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list">
			
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<div class="_page _marionette">
				
<h1>
Template Rendering</h1>
<p>The Marionette View's primary purpose is to render your model and collection data into the template you assign it. The basic syntax for setting a template is similar to the syntax for <a href="http://backbonejs.org/#View-template" target="_blank">Backbone.js View <code>template</code></a>:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);
<span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">tagName</span>: <span class="hljs-string">'h1'</span>,
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'Contents'</span>)
});

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView();
myView.render();
</pre> <p>This will cause the contents of the <code>template</code> attribute to be rendered inside a <code>&lt;h1&gt;</code> tag.</p> <p><a href="https://jsfiddle.net/marionettejs/h762zjua/" target="_blank">Live example</a></p> <h2 id="documentation-index">
Documentation Index</h2>
<ul> <li>
<a href="#rendering-a-template">Rendering a Template</a><ul> <li><a href="#jquery-selector">jQuery Selector</a></li> <li><a href="#template-function">Template Function</a></li> <li><a href="#the-gettemplate-function">The <code>getTemplate</code> function</a></li> </ul> </li> <li>
<a href="#models-and-collections">Models and Collections</a><ul> <li><a href="#rendering-a-model">Rendering a Model</a></li> <li><a href="#rendering-a-collection">Rendering a Collection</a></li> <li><a href="#user-interaction-with-collections">User Interaction with Collections</a></li> <li><a href="#modelcollection-rendering-rules">Model/Collection Rendering Rules</a></li> </ul> </li> <li>
<a href="#template-context">Template Context</a><ul> <li><a href="#context-object">Context Object</a></li> <li><a href="#binding-of-this">Binding of <code>this</code></a></li> </ul> </li> <li><a href="#serializing-model-and-collection-data">Serializing Model and Collection Data</a></li> </ul> <h2 id="rendering-a-template">
Rendering a Template</h2>
<h3 id="jquery-selector">
jQuery Selector</h3>
<p>If your index page contains a template element formatted for Underscore, you can simply pass in the jQuery selector for it to <code>template</code> and Marionette will look it up:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">export</span>.MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: <span class="hljs-string">'#template-layout'</span>
});
</pre> <pre data-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"template-layout"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"x-template/underscore"</span>&gt;</span><span class="handlebars"><span class="xml">
<span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Hello, world<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
</span></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</pre> <p><a href="https://jsfiddle.net/marionettejs/z4sd7ssh/" target="_blank">Live example</a></p> <p>Marionette compiles the template above using <code>_.template</code> and renders it for you when <code>MyView</code> gets rendered.</p> <h3 id="template-function">
Template Function</h3>
<p>A more common way of setting a template is to assign a function to <code>template</code> that renders its argument. This will commonly be the <code>_.template</code> function:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">export</span>.MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'&lt;h1&gt;Hello, world&lt;/h1&gt;'</span>)
});
</pre> <p>This doesn't have to be an underscore template, you can pass your own rendering function:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);
<span class="hljs-keyword">var</span> Handlebars = <span class="hljs-built_in">require</span>(<span class="hljs-string">'handlebars'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">data</span>) </span>{
    <span class="hljs-keyword">return</span> Handlebars.compile(<span class="hljs-string">'&lt;h1&gt;Hello, {{ name }}'</span>)(data);
  }
});
</pre> <p><a href="https://jsfiddle.net/marionettejs/ep0e4qkt/" target="_blank">Live example</a></p> <p>Using a custom function can give you a lot of control over the output of your view after its context is calculated. If this logic is common, you may be best <a href="../marionette.renderer/">overriding your renderer</a> to change your default template renderer.</p> <h3 id="the-gettemplate-function">
The <code>getTemplate</code> function</h3>
<p>The <code>getTemplate</code> function is used to choose the template to render after the view has been instantiated. You can use this to change the template based on some simple logic such as the value of a specific attribute in the view's model. The returned value can be either a jQuery selector or a compiled template function that will be called with the view's data and context.</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">getTemplate</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>()</span>{
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.model.get(<span class="hljs-string">'is_active'</span>)){
      <span class="hljs-keyword">return</span> <span class="hljs-string">'#template-when-active'</span>;
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-keyword">return</span> <span class="hljs-string">'#template-when-inactive'</span>;
    }
  }
});
</pre> <p><a href="https://jsfiddle.net/marionettejs/9k5v4p92/" target="_blank">Live example</a></p> <p>This differs from setting <code>template</code> as this method must be executed and calculated when the view is rendered. If your template is always the same, use the <code>template</code> attribute directly.</p> <h2 id="models-and-collections">
Models and Collections</h2>
<h3 id="rendering-a-model">
Rendering a Model</h3>
<p>Marionette will happily render a template without a model. This won't give us a particularly interesting result. As with Backbone, we can attach a model to our views and render the data they represent:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> Bb = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyModel = Bb.Model.extend({
  <span class="hljs-attr">defaults</span>: {
    <span class="hljs-attr">name</span>: <span class="hljs-string">'world'</span>
  }
});

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'&lt;h1&gt;Hello, &lt;%- name %&gt;&lt;/h1&gt;'</span>)
});

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView({<span class="hljs-attr">model</span>: <span class="hljs-keyword">new</span> MyModel()});
</pre> <p><a href="https://jsfiddle.net/marionettejs/warfa6rL/" target="_blank">Live example</a></p> <p>Now our template has full access to the attributes on the model passed into the view.</p> <h3 id="rendering-a-collection">
Rendering a Collection</h3>
<p>The <code>Marionette.View</code> also provides a simple tool for rendering collections into a template. Simply pass in the collection as <code>collection</code> and Marionette will provide an <code>items</code> attribute to render:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> Bb = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyCollection = Bb.Collection.extend({
});

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: <span class="hljs-string">'#hello-template'</span>
});

<span class="hljs-keyword">var</span> collection = <span class="hljs-keyword">new</span> MyCollection([
  {<span class="hljs-attr">name</span>: <span class="hljs-string">'Steve'</span>}, {<span class="hljs-attr">name</span>: <span class="hljs-string">'Helen'</span>}
]);

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView({<span class="hljs-attr">collection</span>: collection});
</pre> <p>For clarity, we've moved the template into this script tag:</p> <pre data-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"hello-template"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"x-template/underscore"</span>&gt;</span><span class="javascript">
&lt;ul&gt;
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">%</span> <span class="hljs-attr">_.each</span>(<span class="hljs-attr">items</span>, <span class="hljs-attr">function</span>(<span class="hljs-attr">item</span>) { %&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">%-</span> <span class="hljs-attr">item.name</span> %&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">%</span> }) %&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span></span>
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</pre> <p><a href="https://jsfiddle.net/marionettejs/qyodkakf/" target="_blank">Live example</a></p> <p>As you can see, <code>items</code> is provided to the template representing each record in the collection.</p> <h3 id="user-interaction-with-collections">
User Interaction with Collections</h3>
<p>While possible, reacting to user interaction with individual items in your collection is tricky with just a <code>View</code>. If you want to act on individual items, it's recommended that you use <a href="../marionette.collectionview/"><code>CollectionView</code></a> and handle the behavior at the individual item level.</p> <h3 id="modelcollection-rendering-rules">
Model/Collection Rendering Rules</h3>
<p>Marionette uses a simple method to determine whether to make a model or collection available to the template:</p> <ol> <li>If <code>view.model</code> is set, the attributes from <code>model</code>
</li> <li>If <code>view.model</code> is not set, but <code>view.collection</code> is, set <code>items</code> to the individual items in the collection</li> <li>If neither are set, an empty object is used</li> </ol> <p>The result of this is mixed into the <a href="#template-context"><code>templateContext</code> object</a> and made available to your template. Using this means you can setup a wrapper <code>View</code> that can act on <code>collectionEvents</code> but will render its <code>model</code> attribute - if your <code>model</code> has an <code>items</code> attribute then that will always be used. If your view needs to serialize by different rules override <a href="#serializing-model-and-collection-data"><code>serializeData()</code></a>.</p> <h2 id="template-context">
Template Context</h2>
<p>The <code>Marionette.View</code> provides a <code>templateContext</code> attribute that is used to add extra information to your templates. This can be either an object, or a function returning an object. The keys on the returned object will be mixed into the model or collection keys and made available to the template.</p> <h3 id="context-object">
Context Object</h3>
<p>Using the context object, simply attach an object to <code>templateContext</code> as so:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'&lt;h1&gt;Hello, &lt;%- contextKey %&gt;&lt;/h1&gt;'</span>),

  <span class="hljs-attr">templateContext</span>: {
    <span class="hljs-attr">contextKey</span>: <span class="hljs-string">'world'</span>
  }
});

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView();
</pre> <p><a href="https://jsfiddle.net/marionettejs/rw09r7e6/" target="_blank">Live example</a></p> <p>The <code>myView</code> instance will be rendered without errors even though we have no model or collection - <code>contextKey</code> is provided by <code>templateContext</code>.</p> <p>The <code>templateContext</code> attribute can also <a href="../basics/#functions-returning-values">take a function</a>.</p> <h3 id="context-function">
Context Function</h3>
<p>The <code>templateContext</code> object can also be a <a href="../basics/#functions-returning-values">function returning an object</a>. This is useful when you want to access <a href="#binding-of-this">information from the surrounding view</a> (e.g. model methods).</p> <p>To use a <code>templateContext</code>, simply assign a function:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'&lt;h1&gt;Hello, &lt;%- contextKey %&gt;&lt;/h1&gt;'</span>),

  <span class="hljs-attr">templateContext</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>() </span>{
    <span class="hljs-keyword">return</span> {
      <span class="hljs-attr">contextKey</span>: <span class="hljs-keyword">this</span>.getOption(<span class="hljs-string">'contextKey'</span>)
    }
  }
});

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView({<span class="hljs-attr">contextKey</span>: <span class="hljs-string">'world'</span>});
</pre> <p><a href="https://jsfiddle.net/marionettejs/4qxk99ya/" target="_blank">Live example</a></p> <p>Here, we've passed an option that can be accessed from the <code>templateContext</code> function using <code>getOption()</code>. More information on <code>getOption</code> can be found in the <a href="../marionette.object/#getoption">documentation for <code>Marionette.Object</code></a>.</p> <h3 id="binding-of-this">
Binding of <code>this</code>
</h3>
<p>When using functions in the <code>templateContext</code> it's important to know that <code>this</code> is <em>bound to the result of <a href="#serializing-model-and-collection-data"><code>serializeData()</code></a> and <strong>not the view</strong></em>. An illustrative example:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'&lt;h1&gt;Hello, &lt;%- contextKey() %&gt;&lt;/h1&gt;'</span>),

  <span class="hljs-attr">templateContext</span>: {
    <span class="hljs-attr">contextKey</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>() </span>{
      <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.getOption(<span class="hljs-string">'contextKey'</span>);  <span class="hljs-comment">// ERROR</span>
    }
  }
});

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView({<span class="hljs-attr">contextKey</span>: <span class="hljs-string">'world'</span>});
</pre> <p>The above code will fail because the context object in the template <em>cannot see</em> the view's <code>getOption</code>. This would also apply to functions returned by a <code>templateContext</code> function, even though the function itself is bound to the view context. The following example should provide some clarity:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);
<span class="hljs-keyword">var</span> Mn = <span class="hljs-built_in">require</span>(<span class="hljs-string">'backbone.marionette'</span>);

<span class="hljs-keyword">var</span> MyView = Mn.View.extend({
  <span class="hljs-attr">template</span>: _.template(<span class="hljs-string">'&lt;h1&gt;Hello, &lt;%- contextKey() %&gt;&lt;/h1&gt;'</span>),

  <span class="hljs-attr">templateContext</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>() </span>{
    <span class="hljs-keyword">return</span> {
      <span class="hljs-attr">contextKeyVar</span>: <span class="hljs-keyword">this</span>.getOption(<span class="hljs-string">'contextKey'</span>),  <span class="hljs-comment">// OK - "this" refers to view</span>
      contextKeyFunction: <span class="hljs-function"><span class="hljs-keyword">function</span>() </span>{
        <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.getOption(<span class="hljs-string">'contextKey'</span>);  <span class="hljs-comment">// ERROR - "this" refers to data</span>
      }
    };

  }
});

<span class="hljs-keyword">var</span> myView = <span class="hljs-keyword">new</span> MyView({<span class="hljs-attr">contextKey</span>: <span class="hljs-string">'world'</span>});
</pre> <p><a href="https://jsfiddle.net/marionettejs/cwt31k9p/1/" target="_blank">Live example</a></p> <h2 id="serializing-model-and-collection-data">
Serializing Model and Collection Data</h2>
<p>The <code>serializeData</code> method is used to convert a View's <code>model</code> or <code>collection</code> into a usable form for a template. It follows the <a href="#modelcollection-rendering-rules">Model/Collection Rendering Rules</a> to determine how to serialize the data.</p> <p>The result of <code>serializeData</code> is included in the data passed to the view's template.</p> <p>Let's take a look at some examples of how serializing data works.</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> myModel = <span class="hljs-keyword">new</span> MyModel({<span class="hljs-attr">foo</span>: <span class="hljs-string">'bar'</span>});

<span class="hljs-keyword">new</span> MyView({
  <span class="hljs-attr">template</span>: <span class="hljs-string">'#myItemTemplate'</span>,
  <span class="hljs-attr">model</span>: myModel
});

MyView.render();
</pre> <pre data-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"myItemTemplate"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"template"</span>&gt;</span><span class="actionscript">
  Foo <span class="hljs-keyword">is</span>: &lt;%= foo %&gt;
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</pre> <p><a href="https://jsfiddle.net/marionettejs/brp0t7pq/" target="_blank">Live example</a></p> <p>If the serialization is a collection, the results are passed in as an <code>items</code> array:</p> <pre data-language="javascript"><span class="hljs-keyword">var</span> myCollection = <span class="hljs-keyword">new</span> MyCollection([{<span class="hljs-attr">foo</span>: <span class="hljs-string">'bar'</span>}, {<span class="hljs-attr">foo</span>: <span class="hljs-string">'baz'</span>}]);

<span class="hljs-keyword">new</span> MyView({
  <span class="hljs-attr">template</span>: <span class="hljs-string">'#myCollectionTemplate'</span>,
  <span class="hljs-attr">collection</span>: myCollection
});

MyView.render();
</pre> <pre data-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"myCollectionTemplate"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"template"</span>&gt;</span><span class="javascript">
  &lt;% _.each(items, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">item</span>)</span>{ %&gt;
    Foo is: <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">%=</span> <span class="hljs-attr">foo</span> %&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">%</span> }); %&gt;</span>
</span></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</pre> <p><a href="https://jsfiddle.net/marionettejs/yv3hrvkf/" target="_blank">Live example</a></p> <p>If you need to serialize the View's <code>model</code> or <code>collection</code> in a custom way, then you should override either <code>serializeModel</code> or <code>serializeCollection</code>.</p> <p>On the other hand, you should not use this method to add arbitrary extra data to your template. Instead, use <a href="../template/#templatecontext">View.templateContext</a>.</p>
<div class="_attribution">
  <p class="_attribution-p">
    © 2017 Muted Solutions, LLC<br>Licensed under the MIT License.<br>
    <a href="https://marionettejs.com/docs/v3.2.0/template.html" class="_attribution-link" target="_blank">https://marionettejs.com/docs/v3.2.0/template.html</a>
  </p>
</div>

			</div>
		</div>
	</section>

	</div>
</body>
</html>
