
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Locale (Component&#92;Intl) - Symfony 2.7 - W3cubDocs</title>
  
  <meta name="description" content=" class Locale extends Locale ">
  <meta name="keywords" content="symfony, component, intl, locale, -, symfony~2.7">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="http://docs.w3cub.com/symfony~2.7/symfony/component/intl/locale/">
  <link href="/favicon.png" rel="icon">
  <link type="text/css" rel="stylesheet" href="/assets/application-50364fff564ce3b6327021805f3f00e2957b441cf27f576a7dd4ff63bbc47047.css">
  <script type="text/javascript" src="/assets/application-db64bfd54ceb42be11af7995804cf4902548419ceb79d509b0b7d62c22d98e6f.js"></script>
  <script src="/json/symfony~2.7.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/symfony~2.7/" class="_nav-link" title="" style="margin-left:0;">Symfony 2.7</a></span>
  
  <nav class="_nav">
    <a href="/app/" class="_nav-link ">App</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list">
			
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<div class="_page _laravel">
				
<h1>Symfony\Component\Intl\Locale</h1>  <p> class <strong>Locale</strong> extends <a href="http://php.net/Locale" title="Locale" target="_blank">Locale</a></p> <div class="description"> <p>Provides access to locale-related data.</p>  </div> <h2>Methods</h2> <table> <tr> <td class="type"> static </td> <td class="last"> <a href="#method_setDefaultFallback">setDefaultFallback</a>(string $locale) <p>Sets the default fallback locale.</p> </td> <td></td> </tr> <tr> <td class="type"> static string </td> <td class="last"> <a href="#method_getDefaultFallback">getDefaultFallback</a>() <p>Returns the default fallback locale.</p> </td> <td></td> </tr> <tr> <td class="type"> static string|null </td> <td class="last"> <a href="#method_getFallback">getFallback</a>(string $locale) <p>Returns the fallback locale for a given locale.</p> </td> <td></td> </tr> </table> <h2>Details</h2> <h3 id="method_setDefaultFallback">          static    public            
    setDefaultFallback(string $locale) </h3>  <p>Sets the default fallback locale.</p> <p>The default fallback locale is used as fallback for locales that have no fallback otherwise.</p> <div class="tags"> <h4>Parameters</h4> <table> <tr> <td>string</td> <td>$locale</td> <td>The default fallback locale</td> </tr> </table> <h4>See also</h4> <table> <tr> <td>getFallback()</td> <td></td> </tr> </table> </div>  <h3 id="method_getDefaultFallback">          static    public            string
    getDefaultFallback() </h3>  <p>Returns the default fallback locale.</p>  <div class="tags"> <h4>Return Value</h4> <table> <tr> <td>string</td> <td>The default fallback locale</td> </tr> </table> <h4>See also</h4> <table> <tr> <td>setDefaultFallback()</td> <td></td> </tr> <tr> <td>getFallback()</td> <td></td> </tr> </table> </div>  <h3 id="method_getFallback">          static    public            string|null
    getFallback(string $locale) </h3>  <p>Returns the fallback locale for a given locale.</p> <p>For example, the fallback of "fr_FR" is "fr". The fallback of "fr" is the default fallback locale configured with {@link setDefaultFallback()}. The default fallback locale has no fallback.</p> <div class="tags"> <h4>Parameters</h4> <table> <tr> <td>string</td> <td>$locale</td> <td>The ICU locale code to find the fallback for</td> </tr> </table> <h4>Return Value</h4> <table> <tr> <td>string|null</td> <td>The ICU locale code of the fallback locale, or null if no fallback exists</td> </tr> </table> </div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2004–2016 Fabien Potencier<br>Licensed under the MIT License.<br>
    <a href="http://api.symfony.com/2.7/Symfony/Component/Intl/Locale.html" class="_attribution-link" target="_blank">http://api.symfony.com/2.7/Symfony/Component/Intl/Locale.html</a>
  </p>
</div>

			</div>
		</div>
	</section>

	</div>
</body>
</html>
