
<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>View - React Native - W3cubDocs</title>
  
  <meta name="description" content="The most fundamental component for building a UI, View is a container that supports layout with flexbox, style, some touch handling, and &hellip;">
  <meta name="keywords" content="view, -, react, native, react_native">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="canonical" href="http://docs.w3cub.com/react_native/view/">
  <link href="/favicon.png" rel="icon">
  <link type="text/css" rel="stylesheet" href="/assets/application-50364fff564ce3b6327021805f3f00e2957b441cf27f576a7dd4ff63bbc47047.css">
  <script type="text/javascript" src="/assets/application-db64bfd54ceb42be11af7995804cf4902548419ceb79d509b0b7d62c22d98e6f.js"></script>
  <script src="/json/react_native.js"></script>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71174418-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body>
	<div class="_app">
	<header class="_header">
  
  <form class="_search">
    <input type="search" class="_search-input" placeholder="Search&hellip;" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="20">
    <a class="_search-clear"></a>
    <div class="_search-tag"></div>
  </form>
  
  <a class="_home-link" href="/" ></a>
  <a class="_menu-link"></a>
  <h1 class="_logo">
    <a href="/" class="_nav-link" title="API Documentation Browser">W3cubDocs</a>
  </h1>
  
  <span class="_logo-sub-nav">/</span><span class="_logo-sub-nav"><a href="/react_native/" class="_nav-link" title="" style="margin-left:0;">React Native</a></span>
  
  <nav class="_nav">
    <a href="/app/" class="_nav-link ">App</a>
    <a href="/about/" class="_nav-link ">About</a>
  </nav>
</header>
	<section class="_sidebar">
		<div class="_list">
			
		</div>
	</section>
	<section class="_container ">
		<div class="_content">
			<div class="_page _react">
				
<h1 id="view">
View </h1>
<p>The most fundamental component for building a UI, <code>View</code> is a container that supports layout with <a href="../flexbox/">flexbox</a>, <a href="../style/">style</a>, <a href="../handling-touches/">some touch handling</a>, and <a href="../accessibility/">accessibility</a> controls. <code>View</code> maps directly to the native view equivalent on whatever platform React Native is running on, whether that is a <code>UIView</code>, <code>&lt;div&gt;</code>, <code>android.view</code>, etc.</p>
<p><code>View</code> is designed to be nested inside other views and can have 0 to many children of any type.</p>
<p>This example creates a <code>View</code> that wraps two colored boxes and a text component in a row with padding.</p>
<pre class="prism language-javascript" data-language="javascript">class ViewColoredBoxesWithText extends Component {
  render() {
    return (
      &lt;View style={{flexDirection: 'row', height: 100, padding: 20}}&gt;
        &lt;View style={{backgroundColor: 'blue', flex: 0.3}} /&gt;
        &lt;View style={{backgroundColor: 'red', flex: 0.5}} /&gt;
        &lt;Text&gt;Hello World!&lt;/Text&gt;
      &lt;/View&gt;
    );
  }
}</pre>
<blockquote><p><code>View</code>s are designed to be used with <a href="../style/"><code>StyleSheet</code></a> for clarity and performance, although inline styles are also supported.</p></blockquote>
<h3 id="synthetic-touch-events">
Synthetic Touch Events </h3>
<p>For <code>View</code> responder props (e.g., <code>onResponderMove</code>), the synthetic touch event passed to them are of the following form:</p>
<ul><li>
<code>nativeEvent</code><ul>
<li>
<code>changedTouches</code> - Array of all touch events that have changed since the last event.</li>
<li>
<code>identifier</code> - The ID of the touch.</li>
<li>
<code>locationX</code> - The X position of the touch, relative to the element.</li>
<li>
<code>locationY</code> - The Y position of the touch, relative to the element.</li>
<li>
<code>pageX</code> - The X position of the touch, relative to the root element.</li>
<li>
<code>pageY</code> - The Y position of the touch, relative to the root element.</li>
<li>
<code>target</code> - The node id of the element receiving the touch event.</li>
<li>
<code>timestamp</code> - A time identifier for the touch, useful for velocity calculation.</li>
<li>
<code>touches</code> - Array of all current touches on the screen.</li>
</ul>
</li></ul>
<h2 id="props">
Props </h2>
<h3 class="propTitle" id="accessibilitylabel">
accessibilityLabel?: <code class="propType"><code>node</code></code> </h3>
<div><p>Overrides the text that's read by the screen reader when the user interacts with the element. By default, the label is constructed by traversing all the children and accumulating all the <code>Text</code> nodes separated by space.</p></div>
<h3 class="propTitle" id="accessible">
accessible?: <code class="propType"><code>bool</code></code> </h3>
<div><p>When <code>true</code>, indicates that the view is an accessibility element. By default, all the touchable elements are accessible.</p></div>
<h3 class="propTitle" id="hitslop">
hitSlop?: <code class="propType"><code>{top: number, left: number, bottom: number, right: number}</code></code> </h3>
<div>
<p>This defines how far a touch event can start away from the view. Typical interface guidelines recommend touch targets that are at least 30 - 40 points/density-independent pixels.</p>
<p>For example, if a touchable view has a height of 20 the touchable height can be extended to 40 with <code>hitSlop={{top: 10, bottom: 10, left: 0, right: 0}}</code></p>
<blockquote><p>The touch area never extends past the parent view bounds and the Z-index of sibling views always takes precedence if a touch hits two overlapping views.</p></blockquote>
</div>
<h3 class="propTitle" id="onaccessibilitytap">
onAccessibilityTap?: <code class="propType"><code>function</code></code> </h3>
<div><p>When <code>accessible</code> is true, the system will try to invoke this function when the user performs accessibility tap gesture.</p></div>
<h3 class="propTitle" id="onlayout">
onLayout?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>Invoked on mount and layout changes with:</p>
<p><code>{nativeEvent: { layout: {x, y, width, height}}}</code></p>
<p>This event is fired immediately once the layout has been calculated, but the new layout may not yet be reflected on the screen at the time the event is received, especially if a layout animation is in progress.</p>
</div>
<h3 class="propTitle" id="onmagictap">
onMagicTap?: <code class="propType"><code>function</code></code> </h3>
<div><p>When <code>accessible</code> is <code>true</code>, the system will invoke this function when the user performs the magic tap gesture.</p></div>
<h3 class="propTitle" id="onmoveshouldsetresponder">
onMoveShouldSetResponder?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>Does this view want to "claim" touch responsiveness? This is called for every touch move on the <code>View</code> when it is not the responder.</p>
<p><code>View.props.onMoveShouldSetResponder: (event) =&gt; [true | false]</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onmoveshouldsetrespondercapture">
onMoveShouldSetResponderCapture?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>If a parent <code>View</code> wants to prevent a child <code>View</code> from becoming responder on a move, it should have this handler which returns <code>true</code>.</p>
<p><code>View.props.onMoveShouldSetResponderCapture: (event) =&gt; [true | false]</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onrespondergrant">
onResponderGrant?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>The View is now responding for touch events. This is the time to highlight and show the user what is happening.</p>
<p><code>View.props.onResponderGrant: (event) =&gt; {}</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onrespondermove">
onResponderMove?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>The user is moving their finger.</p>
<p><code>View.props.onResponderMove: (event) =&gt; {}</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onresponderreject">
onResponderReject?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>Another responder is already active and will not release it to that <code>View</code> asking to be the responder.</p>
<p><code>View.props.onResponderReject: (event) =&gt; {}</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onresponderrelease">
onResponderRelease?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>Fired at the end of the touch.</p>
<p><code>View.props.onResponderRelease: (event) =&gt; {}</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onresponderterminate">
onResponderTerminate?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>The responder has been taken from the <code>View</code>. Might be taken by other views after a call to <code>onResponderTerminationRequest</code>, or might be taken by the OS without asking (e.g., happens with control center/ notification center on iOS)</p>
<p><code>View.props.onResponderTerminate: (event) =&gt; {}</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onresponderterminationrequest">
onResponderTerminationRequest?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>Some other <code>View</code> wants to become responder and is asking this <code>View</code> to release its responder. Returning <code>true</code> allows its release.</p>
<p><code>View.props.onResponderTerminationRequest: (event) =&gt; {}</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onstartshouldsetresponder">
onStartShouldSetResponder?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>Does this view want to become responder on the start of a touch?</p>
<p><code>View.props.onStartShouldSetResponder: (event) =&gt; [true | false]</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="onstartshouldsetrespondercapture">
onStartShouldSetResponderCapture?: <code class="propType"><code>function</code></code> </h3>
<div>
<p>If a parent <code>View</code> wants to prevent a child <code>View</code> from becoming responder on a touch start, it should have this handler which returns <code>true</code>.</p>
<p><code>View.props.onStartShouldSetResponderCapture: (event) =&gt; [true | false]</code>, where <code>event</code> is a synthetic touch event as described above.</p>
</div>
<h3 class="propTitle" id="pointerevents">
pointerEvents?: <code class="propType"><code>enum('box-none', 'none', 'box-only', 'auto')</code></code> </h3>
<div>
<p>Controls whether the <code>View</code> can be the target of touch events.</p>
<ul>
<li>
<code>'auto'</code>: The View can be the target of touch events.</li>
<li>
<code>'none'</code>: The View is never the target of touch events.</li>
<li>
<code>'box-none'</code>: The View is never the target of touch events but it's subviews can be. It behaves like if the view had the following classes in CSS:<pre class="prism language-javascript" data-language="javascript">.box-none {
 pointer-events: none;
}
.box-none * {
 pointer-events: all;
}</pre>
</li>
<li>
<code>'box-only'</code>: The view can be the target of touch events but it's subviews cannot be. It behaves like if the view had the following classes in CSS:<pre class="prism language-javascript" data-language="javascript">.box-only {
 pointer-events: all;
}
.box-only * {
 pointer-events: none;
}</pre>
<blockquote><p>Since <code>pointerEvents</code> does not affect layout/appearance, and we are already deviating from the spec by adding additional modes, we opt to not include <code>pointerEvents</code> on <code>style</code>. On some platforms, we would need to implement it as a <code>className</code> anyways. Using <code>style</code> or not is an implementation detail of the platform.</p></blockquote>
</li>
</ul>
</div>
<h3 class="propTitle" id="removeclippedsubviews">
removeClippedSubviews?: <code class="propType"><code>bool</code></code> </h3>
<div><p>This is a special performance property exposed by <code>RCTView</code> and is useful for scrolling content when there are many subviews, most of which are offscreen. For this property to be effective, it must be applied to a view that contains many subviews that extend outside its bound. The subviews must also have <code>overflow: hidden</code>, as should the containing view (or one of its superviews).</p></div>
<h3 class="propTitle" id="style">
style?: <code class="propType"><code>style</code></code> </h3>
<div class="compactProps">
<h6 class="propTitle"><a href="../layout-props/#props">Layout Props...</a></h6>
<h6 class="propTitle"><a href="../shadow-props/#props">Shadow Props...</a></h6>
<h6 class="propTitle"><a href="https://facebook.github.io/react-native/docs/transforms.html#props" target="_blank">Transforms...</a></h6>
<h6 class="propTitle">backfaceVisibility <span class="propType"><code>enum('visible', 'hidden')</code></span> </h6>
<h6 class="propTitle">backgroundColor <span class="propType"><code>[object Object]</code></span> </h6>
<h6 class="propTitle">borderBottomColor <span class="propType"><code>[object Object]</code></span> </h6>
<h6 class="propTitle">borderBottomLeftRadius <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderBottomRightRadius <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderBottomWidth <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderColor <span class="propType"><code>[object Object]</code></span> </h6>
<h6 class="propTitle">borderLeftColor <span class="propType"><code>[object Object]</code></span> </h6>
<h6 class="propTitle">borderLeftWidth <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderRadius <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderRightColor <span class="propType"><code>[object Object]</code></span> </h6>
<h6 class="propTitle">borderRightWidth <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderStyle <span class="propType"><code>enum('solid', 'dotted', 'dashed')</code></span> </h6>
<h6 class="propTitle">borderTopColor <span class="propType"><code>[object Object]</code></span> </h6>
<h6 class="propTitle">borderTopLeftRadius <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderTopRightRadius <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderTopWidth <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">borderWidth <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">opacity <span class="propType"><code>number</code></span> </h6>
<h6 class="propTitle">
<span class="platform">android</span>elevation <span class="propType"><code>number</code></span> <div><p>(Android-only) Sets the elevation of a view, using Android's underlying <a href="https://developer.android.com/training/material/shadows-clipping.html#Elevation" target="_blank">elevation API</a>. This adds a drop shadow to the item and affects z-order for overlapping views. Only supported on Android 5.0+, has no effect on earlier versions.</p></div>
</h6>
</div>
<h3 class="propTitle" id="testid">
testID?: <code class="propType"><code>string</code></code> </h3>
<div>
<p>Used to locate this view in end-to-end tests.</p>
<blockquote><p>This disables the 'layout-only view removal' optimization for this view!</p></blockquote>
</div>
<h3 class="propTitle" id="accessibilitycomponenttype">
<span class="platform">android</span>accessibilityComponentType?: <code class="propType"><code>AccessibilityComponentTypes</code></code> </h3>
<div>
<p>Indicates to accessibility services to treat UI component like a native one. Works for Android only.</p>
<p>Possible values are one of:</p>
<ul>
<li><code>'none'</code></li>
<li><code>'button'</code></li>
<li><code>'radiobutton_checked'</code></li>
<li><code>'radiobutton_unchecked'</code></li>
</ul>
</div>
<h3 class="propTitle" id="accessibilityliveregion">
<span class="platform">android</span>accessibilityLiveRegion?: <code class="propType"><code>enum('none', 'polite', 'assertive')</code></code> </h3>
<div>
<p>Indicates to accessibility services whether the user should be notified when this view changes. Works for Android API &gt;= 19 only. Possible values:</p>
<ul>
<li>
<code>'none'</code> - Accessibility services should not announce changes to this view.</li>
<li>
<code>'polite'</code>- Accessibility services should announce changes to this view.</li>
<li>
<code>'assertive'</code> - Accessibility services should interrupt ongoing speech to immediately announce changes to this view.</li>
</ul>
<p>See the <a href="http://developer.android.com/reference/android/view/View.html#attr_android:accessibilityLiveRegion" target="_blank">Android <code>View</code> docs</a> for reference.</p>
</div>
<h3 class="propTitle" id="collapsable">
<span class="platform">android</span>collapsable?: <code class="propType"><code>bool</code></code> </h3>
<div><p>Views that are only used to layout their children or otherwise don't draw anything may be automatically removed from the native hierarchy as an optimization. Set this property to <code>false</code> to disable this optimization and ensure that this <code>View</code> exists in the native view hierarchy.</p></div>
<h3 class="propTitle" id="importantforaccessibility">
<span class="platform">android</span>importantForAccessibility?: <code class="propType"><code>enum('auto', 'yes', 'no', 'no-hide-descendants')</code></code> </h3>
<div>
<p>Controls how view is important for accessibility which is if it fires accessibility events and if it is reported to accessibility services that query the screen. Works for Android only.</p>
<p>Possible values:</p>
<ul>
<li>
<code>'auto'</code> - The system determines whether the view is important for accessibility - default (recommended).</li>
<li>
<code>'yes'</code> - The view is important for accessibility.</li>
<li>
<code>'no'</code> - The view is not important for accessibility.</li>
<li>
<code>'no-hide-descendants'</code> - The view is not important for accessibility, nor are any of its descendant views.</li>
</ul>
<p>See the <a href="http://developer.android.com/reference/android/R.attr.html#importantForAccessibility" target="_blank">Android <code>importantForAccessibility</code> docs</a> for reference.</p>
</div>
<h3 class="propTitle" id="needsoffscreenalphacompositing">
<span class="platform">android</span>needsOffscreenAlphaCompositing?: <code class="propType"><code>bool</code></code> </h3>
<div>
<p>Whether this <code>View</code> needs to rendered offscreen and composited with an alpha in order to preserve 100% correct colors and blending behavior. The default (<code>false</code>) falls back to drawing the component and its children with an alpha applied to the paint used to draw each element instead of rendering the full component offscreen and compositing it back with an alpha value. This default may be noticeable and undesired in the case where the <code>View</code> you are setting an opacity on has multiple overlapping elements (e.g. multiple overlapping <code>View</code>s, or text and a background).</p>
<p>Rendering offscreen to preserve correct alpha behavior is extremely expensive and hard to debug for non-native developers, which is why it is not turned on by default. If you do need to enable this property for an animation, consider combining it with renderToHardwareTextureAndroid if the view <strong>contents</strong> are static (i.e. it doesn't need to be redrawn each frame). If that property is enabled, this View will be rendered off-screen once, saved in a hardware texture, and then composited onto the screen with an alpha each frame without having to switch rendering targets on the GPU.</p>
</div>
<h3 class="propTitle" id="rendertohardwaretextureandroid">
<span class="platform">android</span>renderToHardwareTextureAndroid?: <code class="propType"><code>bool</code></code> </h3>
<div>
<p>Whether this <code>View</code> should render itself (and all of its children) into a single hardware texture on the GPU.</p>
<p>On Android, this is useful for animations and interactions that only modify opacity, rotation, translation, and/or scale: in those cases, the view doesn't have to be redrawn and display lists don't need to be re-executed. The texture can just be re-used and re-composited with different parameters. The downside is that this can use up limited video memory, so this prop should be set back to false at the end of the interaction/animation.</p>
</div>
<h3 class="propTitle" id="accessibilitytraits">
<span class="platform">ios</span>accessibilityTraits?: <code class="propType"><code>[object Object], [object Object]</code></code> </h3>
<div>
<p>Provides additional traits to screen reader. By default no traits are provided unless specified otherwise in element.</p>
<p>You can provide one trait or an array of many traits.</p>
<p>Possible values for <code>AccessibilityTraits</code> are:</p>
<ul>
<li>
<code>'none'</code> - The element has no traits.</li>
<li>
<code>'button'</code> - The element should be treated as a button.</li>
<li>
<code>'link'</code> - The element should be treated as a link.</li>
<li>
<code>'header'</code> - The element is a header that divides content into sections.</li>
<li>
<code>'search'</code> - The element should be treated as a search field.</li>
<li>
<code>'image'</code> - The element should be treated as an image.</li>
<li>
<code>'selected'</code> - The element is selected.</li>
<li>
<code>'plays'</code> - The element plays sound.</li>
<li>
<code>'key'</code> - The element should be treated like a keyboard key.</li>
<li>
<code>'text'</code> - The element should be treated as text.</li>
<li>
<code>'summary'</code> - The element provides app summary information.</li>
<li>
<code>'disabled'</code> - The element is disabled.</li>
<li>
<code>'frequentUpdates'</code> - The element frequently changes its value.</li>
<li>
<code>'startsMedia'</code> - The element starts a media session.</li>
<li>
<code>'adjustable'</code> - The element allows adjustment over a range of values.</li>
<li>
<code>'allowsDirectInteraction'</code> - The element allows direct touch interaction for VoiceOver users.</li>
<li>
<code>'pageTurn'</code> - Informs VoiceOver that it should scroll to the next page when it finishes reading the contents of the element.</li>
</ul>
<p>See the <a href="../accessibility/#accessibilitytraits-ios">Accessibility guide</a> for more information.</p>
</div>
<h3 class="propTitle" id="accessibilityviewismodal">
<span class="platform">ios</span>accessibilityViewIsModal?: <code class="propType"><code>bool</code></code> </h3>
<div>
<p>A value indicating whether VoiceOver should ignore the elements within views that are siblings of the receiver. Default is <code>false</code>.</p>
<p>See the <a href="../accessibility/#accessibilitytraits-ios">Accessibility guide</a> for more information.</p>
</div>
<h3 class="propTitle" id="shouldrasterizeios">
<span class="platform">ios</span>shouldRasterizeIOS?: <code class="propType"><code>bool</code></code> </h3>
<div>
<p>Whether this <code>View</code> should be rendered as a bitmap before compositing.</p>
<p>On iOS, this is useful for animations and interactions that do not modify this component's dimensions nor its children; for example, when translating the position of a static view, rasterization allows the renderer to reuse a cached bitmap of a static view and quickly composite it during each frame.</p>
<p>Rasterization incurs an off-screen drawing pass and the bitmap consumes memory. Test and measure when using this property.</p>
</div>
<h3 id="examples">
Examples </h3>
<div class="example-container"><pre class="prism language-javascript" data-language="javascript">'use strict';

var React = require('react');
var ReactNative = require('react-native');
var {
  StyleSheet,
  Text,
  View,
} = ReactNative;
var TouchableWithoutFeedback = require('TouchableWithoutFeedback');

var styles = StyleSheet.create({
  box: {
    backgroundColor: '#527FE4',
    borderColor: '#000033',
    borderWidth: 1,
  },
  zIndex: {
    justifyContent: 'space-around',
    width: 100,
    height: 50,
    marginTop: -10,
  },
});

class ViewBorderStyleExample extends React.Component {
  state = {
    showBorder: true
  };

  render() {
    return (
      &lt;TouchableWithoutFeedback onPress={this._handlePress}&gt;
        &lt;View&gt;
          &lt;View style={{
            borderWidth: 1,
            borderStyle: this.state.showBorder ? 'dashed' : null,
            padding: 5
          }}&gt;
            &lt;Text style={{fontSize: 11}}&gt;
              Dashed border style
            &lt;/Text&gt;
          &lt;/View&gt;
          &lt;View style={{
            marginTop: 5,
            borderWidth: 1,
            borderRadius: 5,
            borderStyle: this.state.showBorder ? 'dotted' : null,
            padding: 5
          }}&gt;
            &lt;Text style={{fontSize: 11}}&gt;
              Dotted border style
            &lt;/Text&gt;
          &lt;/View&gt;
        &lt;/View&gt;
      &lt;/TouchableWithoutFeedback&gt;
    );
  }

  _handlePress = () =&gt; {
    this.setState({showBorder: !this.state.showBorder});
  };
}

class ZIndexExample extends React.Component {
  state = {
    flipped: false
  };

  render() {
    const indices = this.state.flipped ? [-1, 0, 1, 2] : [2, 1, 0, -1];
    return (
      &lt;TouchableWithoutFeedback onPress={this._handlePress}&gt;
        &lt;View&gt;
          &lt;Text style={{paddingBottom: 10}}&gt;Tap to flip sorting order&lt;/Text&gt;
          &lt;View style={[
            styles.zIndex,
            {marginTop: 0, backgroundColor: '#E57373', zIndex: indices[0]}
          ]}&gt;
            &lt;Text&gt;ZIndex {indices[0]}&lt;/Text&gt;
          &lt;/View&gt;
          &lt;View style={[
            styles.zIndex,
            {marginLeft: 50, backgroundColor: '#FFF176', zIndex: indices[1]}
          ]}&gt;
            &lt;Text&gt;ZIndex {indices[1]}&lt;/Text&gt;
          &lt;/View&gt;
          &lt;View style={[
            styles.zIndex,
            {marginLeft: 100, backgroundColor: '#81C784', zIndex: indices[2]}
          ]}&gt;
            &lt;Text&gt;ZIndex {indices[2]}&lt;/Text&gt;
          &lt;/View&gt;
          &lt;View style={[
            styles.zIndex,
            {marginLeft: 150, backgroundColor: '#64B5F6', zIndex: indices[3]}
          ]}&gt;
            &lt;Text&gt;ZIndex {indices[3]}&lt;/Text&gt;
          &lt;/View&gt;
        &lt;/View&gt;
      &lt;/TouchableWithoutFeedback&gt;
    );
  }

  _handlePress = () =&gt; {
    this.setState({flipped: !this.state.flipped});
  };
}

exports.title = '&lt;View&gt;';
exports.description = 'Basic building block of all UI, examples that ' +
  'demonstrate some of the many styles available.';

exports.displayName = 'ViewExample';
exports.examples = [
  {
    title: 'Background Color',
    render: function() {
      return (
        &lt;View style={{backgroundColor: '#527FE4', padding: 5}}&gt;
          &lt;Text style={{fontSize: 11}}&gt;
            Blue background
          &lt;/Text&gt;
        &lt;/View&gt;
      );
    },
  }, {
    title: 'Border',
    render: function() {
      return (
        &lt;View style={{borderColor: '#527FE4', borderWidth: 5, padding: 10}}&gt;
          &lt;Text style={{fontSize: 11}}&gt;5px blue border&lt;/Text&gt;
        &lt;/View&gt;
      );
    },
  }, {
    title: 'Padding/Margin',
    render: function() {
      return (
        &lt;View style={{borderColor: '#bb0000', borderWidth: 0.5}}&gt;
          &lt;View style={[styles.box, {padding: 5}]}&gt;
            &lt;Text style={{fontSize: 11}}&gt;5px padding&lt;/Text&gt;
          &lt;/View&gt;
          &lt;View style={[styles.box, {margin: 5}]}&gt;
            &lt;Text style={{fontSize: 11}}&gt;5px margin&lt;/Text&gt;
          &lt;/View&gt;
          &lt;View style={[styles.box, {margin: 5, padding: 5, alignSelf: 'flex-start'}]}&gt;
            &lt;Text style={{fontSize: 11}}&gt;
              5px margin and padding,
            &lt;/Text&gt;
            &lt;Text style={{fontSize: 11}}&gt;
              widthAutonomous=true
            &lt;/Text&gt;
          &lt;/View&gt;
        &lt;/View&gt;
      );
    },
  }, {
    title: 'Border Radius',
    render: function() {
      return (
        &lt;View style={{borderWidth: 0.5, borderRadius: 5, padding: 5}}&gt;
          &lt;Text style={{fontSize: 11}}&gt;
            Too much use of `borderRadius` (especially large radii) on
            anything which is scrolling may result in dropped frames.
            Use sparingly.
          &lt;/Text&gt;
        &lt;/View&gt;
      );
    },
  }, {
    title: 'Border Style',
    render: function() {
      return &lt;ViewBorderStyleExample /&gt;;
    },
  }, {
    title: 'Circle with Border Radius',
    render: function() {
      return (
        &lt;View style={{borderRadius: 10, borderWidth: 1, width: 20, height: 20}} /&gt;
      );
    },
  }, {
    title: 'Overflow',
    render: function() {
      return (
        &lt;View style={{flexDirection: 'row'}}&gt;
          &lt;View
            style={{
              width: 95,
              height: 10,
              marginRight: 10,
              marginBottom: 5,
              overflow: 'hidden',
              borderWidth: 0.5,
            }}&gt;
            &lt;View style={{width: 200, height: 20}}&gt;
              &lt;Text&gt;Overflow hidden&lt;/Text&gt;
            &lt;/View&gt;
          &lt;/View&gt;
          &lt;View style={{width: 95, height: 10, marginBottom: 5, borderWidth: 0.5}}&gt;
            &lt;View style={{width: 200, height: 20}}&gt;
              &lt;Text&gt;Overflow visible&lt;/Text&gt;
            &lt;/View&gt;
          &lt;/View&gt;
        &lt;/View&gt;
      );
    },
  }, {
    title: 'Opacity',
    render: function() {
      return (
        &lt;View&gt;
          &lt;View style={{opacity: 0}}&gt;&lt;Text&gt;Opacity 0&lt;/Text&gt;&lt;/View&gt;
          &lt;View style={{opacity: 0.1}}&gt;&lt;Text&gt;Opacity 0.1&lt;/Text&gt;&lt;/View&gt;
          &lt;View style={{opacity: 0.3}}&gt;&lt;Text&gt;Opacity 0.3&lt;/Text&gt;&lt;/View&gt;
          &lt;View style={{opacity: 0.5}}&gt;&lt;Text&gt;Opacity 0.5&lt;/Text&gt;&lt;/View&gt;
          &lt;View style={{opacity: 0.7}}&gt;&lt;Text&gt;Opacity 0.7&lt;/Text&gt;&lt;/View&gt;
          &lt;View style={{opacity: 0.9}}&gt;&lt;Text&gt;Opacity 0.9&lt;/Text&gt;&lt;/View&gt;
          &lt;View style={{opacity: 1}}&gt;&lt;Text&gt;Opacity 1&lt;/Text&gt;&lt;/View&gt;
        &lt;/View&gt;
      );
    },
  }, {
    title: 'ZIndex',
    render: function() {
      return &lt;ZIndexExample /&gt;;
    },
  },
];</pre></div>
<div class="_attribution">
  <p class="_attribution-p">
    © 2015–2017 Facebook Inc.<br>Licensed under the Creative Commons Attribution 4.0 International Public License.<br>
    <a href="https://facebook.github.io/react-native/docs/view.html" class="_attribution-link" target="_blank">https://facebook.github.io/react-native/docs/view.html</a>
  </p>
</div>

			</div>
		</div>
	</section>

	</div>
</body>
</html>
